@import '../../../../../../../../styles/media-queries.scss';

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--blackTransparent);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;

	.modalContent {
		position: relative;
		background: var(--black2);
		border-radius: 24px;
		width: 500px;
		height: 350px;
		margin-bottom: 0;

		@include md {
			width: 300px;
			height: 300px;
		}

		h5 {
			position: absolute;
			top: 0px;
			left: 45px;
			border: none;
			font-family: 'Noto Sans';
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			color: var(--grey9);

			@include md {
				left: 35px;
				top: -5px;
			}
		}

		.channelName {
			position: absolute;
			top: 75px;
			left: 45px;
			width: 380px;
			height: 50px;
			padding-left: 15px;
			padding-right: 15px;
			background: var(--grey6);
			border-radius: 8px;
			border: none;
			font-family: 'Noto Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			color: var(--grey);
			outline: none;

			@include md {
				width: 200px;
				height: 35px;
				left: 35px;
				top: 65px;
			}
		}

		.channelDescription {
			position: absolute;
			top: 120px;
			left: 45px;
			padding: 15px;
			margin-top: 25px;
			margin-bottom: 25px;
			width: 380px;
			height: 100px;
			background: var(--grey6);
			border-radius: 8px;
			border: none;
			resize: none;
			font-family: 'Noto Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			color: var(--grey);
			outline: none;

			@include md {
				width: 200px;
				height: 80px;
				margin-top: 0px;
				left: 35px;
			}
		}

		button {
			position: absolute;
			bottom: 19px;
			right: 26px;
			width: 80px;
			height: 35px;
			background: var(--blue);
			border-radius: 8px;
			color: var(--white);
			cursor: pointer;
			font-family: 'Noto Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			color: var(--grey9);

			@include md {
				right: 15px;
			}

			&:disabled {
				background-color: grey;
			}
		}
	}
}
